/tests/tobedeleted/persistence/logs/
/tests/tobedeleted/persistence/work_space_data/
/tests/workspace/logs/
/tests/workspace/work_space_data/
/ExtensiblePersistence/
/package-lock.json
/Persisto/tests/logs/
/Persisto/tests/work_space_data/
/tests/pipelines/work_space_data/
/tests/pipelines/logs/
/tests/work_space_data/
/tests/logs/
/tests/deps/logs/
/tests/deps/temp_persistence/
